@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'row';

html {
  font-size: 16px;
}

@media screen and (min-width: 1921px) {
  html {
    font-size: 24px;
  }
}

body {
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
  --dp-font-size: 1rem;
  --tw-gradient-to: 100%;
}

.dp__theme_dark {
  --dp-primary-color: #3cb2fe !important;
  --dp-background-color: theme(colors.third) !important;
  --dp-border-color: theme(colors.general) !important;
}

.table {
  --tw-bg-opacity: 1;
  background-color: rgba(18, 18, 18,var(--tw-bg-opacity));
  --tw-bg-opacity: 0.3;
  border-collapse: collapse;
  max-width: 100%
}

.table th {
  background-image: linear-gradient(180deg,var(--tw-gradient-stops));
  --tw-gradient-from: #235f7f;
  --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to,rgba(35,95,127,0));
  --tw-gradient-to: #26678a;
  --tw-border-opacity: 1;
  border-color: rgba(125,135,143,var(--tw-border-opacity));
  font-size: 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  --tw-text-opacity: 1;
  color: rgba(255,255,255,var(--tw-text-opacity));
  z-index: 10
}

.table td {
  --tw-bg-opacity: 1;
  background-color: rgba(108,117,125,var(--tw-bg-opacity));
  --tw-bg-opacity: 0.1;
  border-style: solid;
  border-bottom-width: 1px;
  font-size: 1rem;
  padding: 0.8rem;
  border-color: rgba(108,117,125,.75);
}

.table td,.table th {
  vertical-align: middle
}

.table thead th {
  border-style: solid;
  border-bottom-width: 1px;
  padding: 0.8rem;
}

// scroll bar
@layer utilities {
  ::-webkit-scrollbar-track {
    // -webkit-box-shadow: inset 0 0 0.8rem rgba(0, 0, 0, 0.3);
    background-color: transparent;
  }

  ::-webkit-scrollbar {
    width: 0.7rem;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    -webkit-box-shadow: inset 0 0 0.8rem rgba(0, 0, 0, 0.3);
    background-color: #8a9699;
  }
}
